<div class="row">
	<div class="large-8 columns">
		<h1><%= @song.title %></h1>
		<div class="icon-actions">
			<% if @song.single? %>
				<span data-tooltip class="has-tip" data-options="disable-for-touch:true" title="Add a song to the project">
					<%= link_to image_tag("icons-128/Symbol - Add.png", alt: "Add a song", size: "24x24"), new_project_song_path(@project) %>
				</span>
			<% else %>
				<%= link_to "<< Back to the project", @song.project, class: "small" %>
			<% end %>
		</div>
	</div>

	<div class="large-4 columns">
		<h6 class="subheader" style="text-align: center">Goal: finish by <%=l @song.finish_on, format: :long %>.</h6>
		<div class="progress success radius" id="task-counter-<%= @song.project_id %>" data-completedcount="<%= @song.completed_tasks.count %>" data-incompletecount="<%= @song.incomplete_tasks.count %>">
			<span class="meter" id="meter-<%= @song.project_id %>" style="width: <%=number_to_percentage @song.percent_complete, precision: 0 %>">
			</span>
		</div>
		<div style="text-align: center; margin-bottom: 6px;">
			<small id='percent-complete-<%=@song.project_id %>'><%=number_to_percentage @song.percent_complete, precision: 0 %> complete</small>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<h4 class="subheader">Song Tasks</h4>
		<div class="icon-actions">
			<%= link_to image_tag("icons-128/Symbol - Add.png", alt: "", size: "24x24"), new_project_song_task_path(@project, @song) %>
			<%= link_to "new task", new_project_song_task_path(@project, @song) %>
		</div>
		<ul id="task-list">
			<% @song.incomplete_tasks.each do |task| %>
			<li id="task_row_<%= task.id %>">
				<%= check_box_tag task.id, task.id, task.complete?, class: 'completer', 
					data: { 
						task: task.id, 
						project: (task.project) ? task.project_id : task.song.project_id,
						song: task.song_id,
						name: task.name, 
						due_on: I18n.l(task.due_on, format: :short)
					} %>
				<%= link_to task.name, edit_project_song_task_path(@song.project, @song, task),
				class: task.late? ? "late" : "" %>
				<i>due: <%=l task.due_on, format: :short %></i>
			</li>
			<% end %>
		</ul>

		<h6 class="subheader" id='completed-tasks-title'>Completed Tasks
			(<%= @song.completed_tasks.count %>)</h6>
		<ul id="completed-tasks">
			<% @song.completed_tasks.each do |task| %>
			<li id="task_row_<%= task.id %>">
				<%= check_box_tag task.id, task.id, task.complete?, class: 'incompleter', 
					data: { 
						task: task.id, 
						project: (task.project) ? task.project_id : task.song.project_id,
						song: task.song_id,
						name: task.name, 
						due_on: I18n.l(task.due_on, format: :short)
					} %>
				<%= link_to task.name, edit_project_song_task_path(@song.project, @song, task) %>
				<i>completed: <%=l task.completed_at.to_date, format: :short %></i>
			</li>
			<% end %>
		</ul>
	</div>

	<div class="large-4 columns">

		<div style="text-align: right;">
			<% if @song.single? %>
				<%= link_to "delete project", @project, data: {confirm: "Are you sure? This cannot be undone." }, method: :delete %>
				<%= link_to image_tag("icons-128/Symbol - Delete.png", alt: "", size: "24x24"), @project, data: {confirm: "Are you sure? This cannot be undone." }, method: :delete %>
			<% else %>
				<%= link_to "delete song", [@project, @song], data: { confirm: "Are you sure? This cannot be undone." }, method: :delete %>
				<%= link_to image_tag("icons-128/Symbol - Delete.png", alt: "", size: "24x24"), [@project, @song], data: { confirm: "Are you sure? This cannot be undone." }, method: :delete %>
			<% end %>
		</div>

		<%= google_adsense_include_tag client: ENV['ADSENSE_CLIENT'], slot: 'song_page_right_column', width: 300, height: 250 %>

	</div>

</div>