<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Trackncheese" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Trackncheese" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield :page_bg %>

    <header>
      <div class="sticky">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="logo">
              <%= link_to(image_tag("cheese_16.png", alt: "Track 'N Cheese musician project management"), root_path, "data-no-turbolink" => true) %> <%= link_to "Track 'N Cheese", root_path, :class => 'brand', "data-no-turbolink" => true %>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">

            <% if user_signed_in? || cookies.permanent.signed[:my_projects] %>
            <ul class="left">
              <li><%= link_to 'My Projects', projects_path, "data-no-turbolink" => true %></li>
            </ul>
            <% end %>

            <ul class="right">
              <% if user_signed_in? %>
                <li><%= link_to 'Logout', signout_path %></li>
                  <% if current_user.has_role? :admin %>
                <li><%= link_to 'Admin', '#', "data-no-turbolink" => true %></li>
                  <% end %>
              <% else %>
                <li><%= link_to "Login/Signup", new_session_path, "data-no-turbolink" => true %></li>
              <% end %>
            </ul>
          </section>

        </nav>
      </div>
    </header>

    <div id="container" class="container">

      <div id="main" role="main" class="container">
        <div class="row">
          <div class="large-12 columns">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <footer>
      </footer>

    </div> 

  </body>
</html>
